{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h1 class="text-success text-center">Store</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 col-sm-6 px-2">
            <img class="img-fluid" src="{{ product.image.url }}" alt="Placeholder image">
            <div class="shadow-lg rounded p-3">
                <h5><strong>{{ product.name }}</strong></h5>
                <hr>
                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-dark update-cart add-btn update-cart">Add to Cart</button>
                <a href="{% url 'store:product_detail' pk=product.pk %}" class="btn btn-outline-success">View</a>
                <h4 class="d-inline-block float-right">${{ product.price|floatformat:2 }}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}